body{
  font: 15px/1.5 'Poppins';
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  
}
/*global*/
.container{
  width: 85%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;

}


/*header*/


header{
  padding-top: 40px;
  min-height: 70px;

}

header a{
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  transition: 0.2s;

}


header li{
  float:  left;
  display: inline;
  padding: 0 10px 0 20px;
}

header #branding {
  float: left;
}

header #branding .img_1{
  margin: 0;
  margin-top: 10px;


 
}
header nav {
  float: right;
  margin-top: 10px;
}
header .current{
  color: rgba(255, 74, 34, 1);
}

header a:hover{
  color: rgba(255, 74, 34, 1);
  
}

.sg{
width: 150px;
height: 38px;
border: 1px solid rgba(255, 74, 34, 1);
border-radius: 20px;
color: rgba(255, 74, 34, 1);
background: none;
transition: 0.2s;
margin-top: -5px;
font-weight: 500;
padding: 5px 20px;

}

.sg:hover{
background-color: rgba(255, 74, 34, 1);
color: white;
}


.step1 h1{
font-size: 30px;
}
.step1 a:hover{
  text-decoration: underline;
}

.step1 a{
  text-decoration: none;
  color: black;
  font-size: 18px;
}







